{% extends 'base.html' %}
{% load static %}
 
{% block extra_css %}
    <style>
        th, td {
            border-bottom: 3px solid rgba(241,85,106,1);
            border-collapse: collapse;
            text-align: center;
            padding: 5px;
            height: 50px;
        }

        /* Full-width inputs */
        input[type=text], input[type=password] 
        {
          width: 80%;
          padding: 12px 20px;

          margin: 10px 0;
          display: inline-block;
          border: 1px solid #ccc;
          box-sizing: border-box;
        }

        /* Set a style for all buttons */
        button {
          background-color: #4CAF50;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          width: 10%;
        }

        /* Add a hover effect for buttons */
        button:hover {
          opacity: 0.8;
        }

        /* Extra style for the cancel button (red) */
        .cancelbtn {
          width: auto;
          padding: 10px 18px;
          background-color: #f44336;
        }

        /* Center the avatar image inside this container */
        .imgcontainer {
          text-align: center;
          margin: 24px 0 12px 0;
        }

        /* Avatar image */
        img.avatar {
          width: 40%;
          border-radius: 50%;
        }

        /* Add padding to containers */
        .container {
          padding: 16px;
        }

        /* The "Forgot password" text */
        span.psw {
          padding-top: 16px;
        }

        /* Change styles for span and cancel button on extra small screens */
        @media screen and (max-width: 300px) {
          span.psw {
            display: block;
            float: none;
          }
        } 
    </style>
    {% endblock %}

    {% block body %}
    <!-- ***** Header Area End ***** -->
    <!-- ***** Features Big Item Start ***** -->

    <section class="section" id="about">
      <div class="container">

        <h2>Log In</h2>
    		<form method="post">
    		  {% csrf_token %}
    		  {{ form.as_p }}
    		  <button type="submit" style="background-color:#ffa31a;">Log In</button>
    		</form>
      
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->
{% endblock %}
{% block extra_js %}
{% endblock %}
