{% extends 'base.html' %}
{% load static %}
 
{% block extra_css %}
{% endblock %}

{% block body %}

    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="center-heading">
                        <h2> Meet Our <em>Amazing</em>Team</h2>
                        <p>"Coming together is a beginning, staying together is progress, and working together is success."<br>- Henry Ford</p>
                    </div>
                </div>
                <div class="col-lg-10 col-md-12 col-sm-12 mobile-bottom-fix-big">
                        <div class="item service-item">
                            <div class="author">
                                <i><img style="border-radius: 49%; height: 8em; width: 7em;" src="https://user-images.githubusercontent.com/67689773/94807084-b8b63680-040c-11eb-84d3-8e6f5e2d9c3e.jpg" alt=" " class="img-responsive"></i>
                            </div>
                            <div class="testimonial-content">
                                
                                <h4>Sanskriti Kushik</h4>
                                <p><ul class="social">
                            <li><a href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul></p>
                               
                            </div>
                        </div>
                        <div class="item service-item" >
                            <div class="author">
                                <i><img style="border-radius: 49%; border: 1px solid #FFEBCD;" src="https://media-exp1.licdn.com/dms/image/C4E03AQEG1m5feCySzg/profile-displayphoto-shrink_400_400/0/1599359033958?e=1620864000&v=beta&t=RKCFTK9d96HBT8H3Le4D-6Q0Whkq50Rc4EkuHtOzzsA"></i>
                            </div>
                            <div class="testimonial-content">
                                
                                <h4>Irit Kushwaha</h4>
                                <p><ul class="social">
                            <li><a href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul></p>
                            
                               
                            </div>
                        </div>
                        <div style="padding: 50px;"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->

{% endblock %}
{% block extra_js %}
{% endblock %}
