<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Scienocyde</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-lava.css">
    <link rel="stylesheet" href="assets/css/owl-carousel.css">
    <style>
        th, td {
            border-bottom: 3px solid rgba(241,85,106,1);
            border-collapse: collapse;
            text-align: center;
            padding: 5px;
            height: 50px;
        }
</style>
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            Scienocyde
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="index.html">Home</a></li>
                            <li class="scroll-to-section"><a href="about.html" >About</a></li>
                            <li class="scroll-to-section"><a href="idea.html" >Idea</a></li>
                            <li class="scroll-to-section"><a href="visitor.html" >Projects</a></li>
                            <li class="scroll-to-section"><a href="contact.html" >Contact Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->



    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about">
        <div class="container">
            <table style="width: 100%;">
              <tr>
                <th>S.No.</th>
                <th>Title</th> 
                <th>Detail</th>
              </tr>
              <tr>
                <td>1</td>
                <td>Smith</td>
                <td>50</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jackson</td>
                <td>94</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Doe</td>
                <td>80</td>
              </tr>
            </table>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

   
            <div class="col-lg-12" style="text-align: center;background: linear-gradient(145deg, rgba(244,129,63,1) 0%, rgba(241,85,106,1) 100%); margin-top: 10px; position: fixed; bottom: 0;">
            <div class="sub-footer">
                <p style="color: white;"><em>Copyright &copy; 2020 Lava Landing Page | Developed by Koderz </em></p>
            </div>
        </div>
        </div>
    </body>

    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

</body>
</html>