{% extends 'base.html' %}
{% load static %}
 
{% block extra_css %}
{% endblock %}

{% block body %}


    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12"
                        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1>Welcome to the Science <em>FAIR</em></h1>
                        <p>We welcome you to the most exciting Science Fair ever!</p> 
                        <a href="host.html" class="main-button-slider">Host</a>
                        <a href="detail.html" class="main-button-slider">Science Fair </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
{% endblock %}
{% block extra_js %}
{% endblock %}